/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 118.75%;
  margin: 3em;
  line-height: 1.4;
}

p {
  margin: 1rem 0;
}

h1 {
  font-size: 2.44140625rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.953125rem;
}

h3 {
  font-size: 1.5625rem;
}

nav {
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 1.5625rem;
}
nav a:link, nav a:visited {
  text-decoration: none;
  color: #00C;
  padding: 1px 2px;
  border-radius: 0.25em;
}
nav a:hover {
  background-color: #ccccff;
}
nav ul {
  padding: 0;
}
nav ul li {
  list-style: none;
  display: inline;
}
nav ul.left {
  justify-self: start;
}
nav ul.left li {
  padding-right: 0.3rem;
}
nav ul.right {
  justify-self: end;
}
nav ul.right li {
  padding-left: 0.3rem;
}

.debuginfo {
  white-space: pre;
  font-family: "Monaco", "Consolas", "Lucida Console", monospace;
  font-size: 0.8rem;
  margin-top: 1.953125rem;
  padding: 0.8rem 1rem;
  background-color: #eef;
  border: 1px solid #99f;
  border-radius: 0.3333rem;
}

.flash {
  padding: 0.8rem 1rem;
  background-color: #efe;
  border: 1px solid #9f9;
  border-radius: 0.3333rem;
}
