$bourbon: (
  "modular-scale-ratio": $major-third,
  "modular-scale-base": 1rem
);

$paper: #fcfcfa;
$ink: #222;
$accent: #882e8e;

body {
  font-family: $font-stack-system;
  font-size: 118.75%;
  margin: 3em;
  line-height: 1.4;
  color: $ink;
  background-color: $paper;
}

a {
  transition: all 0.3s ease;
}

p {
  margin: modular-scale(0) 0;
}

h1 {
  font-size: modular-scale(3);
  margin-bottom: modular-scale(3);
}

h2 {
  font-size: modular-scale(2);
  margin-top: modular-scale(2);
  margin-bottom: modular-scale(1);
}

h3 {
  font-size: modular-scale(1);
  margin-top: modular-scale(2);
  margin-bottom: modular-scale(1);
}


nav {
  background-color: lighten($accent, 60%);
  border-radius: 0.25em;
  border: 1px solid $accent;
  padding: 0.2rem 0.5rem;
  display: grid;
  grid-auto-flow: column;
  margin-bottom: modular-scale(2);
  a:link, a:visited {
    text-decoration: none;
    color: $ink;
    padding: 1px 2px;
    border-radius: 0.25em;
  }
  .active {
    font-weight: bold;
    color: $accent;
  }
  a:hover {
    background-color: $accent;
    color: $paper;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      display: inline;
    }
  }
  ul.left {
    justify-self: start;
    li {
      padding-right: 0.3rem;
    }
  }
  ul.right {
    justify-self: end;
    li {
      padding-left: 0.3rem;
    }
  }
}
