.debuginfo {
  white-space: pre;
  font-family: $font-stack-monaco;
  font-size: modular-scale(-1);
  margin-top: modular-scale(3);
  padding: modular-scale(-1) modular-scale(0);
  background-color: #eef;
  border: 1px solid #99f;
  border-radius: 0.3333rem;
}

.flash {
  padding: modular-scale(-1) modular-scale(0);
  background-color: #efe;
  border: 1px solid #9f9;
  border-radius: 0.3333rem;
}
