#title {
  margin: modular-scale(6) auto modular-scale(3) auto;
  text-align: center;
}

.debuginfo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  white-space: pre;
  font-family: $font-stack-monaco;
  font-size: modular-scale(-1);
  margin-top: modular-scale(3);
  margin-bottom: 0;
  padding: modular-scale(0) modular-scale(1);
  background-image: repeating-linear-gradient(
    135deg,
    #fee,
    #fee 15px,
    #ffe5e5 15px,
    #ffe5e5 30px
  );
}

.flash {
  padding: modular-scale(-1) modular-scale(0);
  background-color: #efe;
  border: 1px solid #9f9;
  border-radius: 0.3333rem;
}

form.login,
form.register,
form.account {
  display: grid;
  grid-template-columns: 12rem 24rem;
  grid-template-rows: auto;
  gap: 1em 0.5em;
  .label {
    grid-column-start: 1;
    justify-self: end;
  }
  .field {
    // display: block;
    grid-column-start: 2;
    height: modular-scale(2);
    align-self: center;
    border: 1px #333 solid;
    border-radius: 0.25em;
    padding: 1px 0.5em;
  }
  .button {
    width: min-content;
    background-color: darken($paper, 10%);
    // box-shadow: 2px 2px 4px darken($paper, 20%);
    font-size: modular-scale(-1);
    padding: 0.5em;
    height: auto;
    cursor: pointer;
  }
  span.form-error {
    display: block;
    grid-column-start: 3;
    color: #900;
    font-size: modular-scale(-1);
    align-self: center;
  }
  .field.form-error {
    border: 1px #900 solid;
  }
}

a.button {
  background-color: darken($paper, 10%);
  // box-shadow: 2px 2px 4px darken($paper, 20%);
  border: 1px #333 solid;
  border-radius: 0.25em;
  padding: 0.5em;
  color: $ink;
  text-decoration: none;
  font-size: modular-scale(-1);
}

.button.delete {
  background-color: #900;
  color: white;
  margin-left: 10.5rem;
}

.options {
  list-style: none;
  // margin-left: 1em;
}
